In [2]:
l =[0]*100

In [5]:
# 3.8
# f-strings
nome='Juliano'
idade=33
f'Meu nome é {nome} e minha idade é {idade}'

'Meu nome é Juliano e minha idade é 33'

In [7]:
txt = "Meu nome é {0} e minha idade é {1}"
txt.format(nome, idade)

'Meu nome é Juliano e minha idade é 33'

In [9]:
txt = "Meu nome é {fnome} e minha idade é {fidade}"
txt.format(fnome=nome, fidade=idade)

'Meu nome é Juliano e minha idade é 33'

In [10]:
"Meu nome é %s e minha idade é %d" % ('Juliano', 33)

'Meu nome é Juliano e minha idade é 33'

In [12]:
t = ('Juliano', 'Fischer', 'Naves', 1, 1.3)

In [13]:
t[1:2] #é uma sequência

('Fischer',)

In [14]:
# é um iterável
for i in t:
    print(i)

Juliano
Fischer
Naves
1
1.3

In [15]:
dir(tuple)
#imutável

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [18]:
i = (3,)

In [19]:
i

(3,)

In [20]:
i = 1,2

In [21]:
i

(1, 2)

In [22]:
1,

(1,)

In [23]:
1,2,3

(1, 2, 3)

In [24]:
def fun():
    return 1,2

In [26]:
x,y = fun() #tuple unpacking

In [28]:
x

1

In [29]:
y

2

In [30]:
x,y = [1,2]

In [31]:
x

1

In [32]:
y

2

In [40]:
x, y = (1,2)

In [43]:
x, y = 1,2
x,y = y,x

In [44]:
x

2

In [45]:
y

1

In [50]:
t = [1,2]

In [51]:
type(t)

list

In [52]:
l = [1,2,3]

In [53]:
t = (l, 'Juliano', 1.3)

In [54]:
t

([1, 2, 3], 'Juliano', 1.3)

In [55]:
help(t)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [56]:
t

([1, 2, 3], 'Juliano', 1.3)

In [57]:
l.append(4)

In [58]:
t

([1, 2, 3, 4], 'Juliano', 1.3)

In [59]:
x, *y = 1,2,3,4,5,6

In [60]:
x

1

In [61]:
y

[2, 3, 4, 5, 6]

In [62]:
x,y,*z = (1,2,3,4,5)

In [63]:
z

[3, 4, 5]

In [64]:
x,*y,z = (1,2,3,4,5)

In [65]:
y

[2, 3, 4]

In [66]:
x

1

In [67]:
z

5

In [68]:
*x,y,z = (1,2,3,4,5)

In [69]:
x

[1, 2, 3]

In [70]:
x

[1, 2, 3]

In [73]:
(1,2,3,4,2,2).count(2)

3

In [74]:
(1,2,3,4,2,2).index(2)

1

In [75]:
False

False

In [76]:
True

True

In [77]:
b = False

In [78]:
type(b)

bool

In [79]:
dir(bool)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [80]:
False,True

(False, True)

In [81]:
#Dicionário
#dict
# par chave, valor
d = dict()

In [83]:
d = {}

In [85]:
type(d)

dict

In [86]:
d = {1:'Juliano', 2:13, 3:[50,250]}

In [87]:
d

{1: 'Juliano', 2: 13, 3: [50, 250]}

In [88]:
d[1]

'Juliano'

In [89]:
d[2]

13

In [90]:
d[3]

[50, 250]

In [92]:
d[4]='KeyErrorNada'

In [93]:
d[4]

'KeyErrorNada'

In [94]:
# qualquer valor hashable (imutável)
d['Juliano'] = 'Sou eu'

In [95]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 4: 'KeyErrorNada', 'Juliano': 'Sou eu'}

In [96]:
d[(2,3)]='valor'

In [97]:
d

{1: 'Juliano',
 2: 13,
 3: [50, 250],
 4: 'KeyErrorNada',
 'Juliano': 'Sou eu',
 (2, 3): 'valor'}

In [98]:
d[[2,3,4]] = ''

TypeError: unhashable type: 'list'

In [99]:
# membership test
1 in [1,2,3]

True

In [100]:
'Juliano' in d

True

In [101]:
'aranha' in d

False

In [102]:
'a' in 'Juliano'

True

In [103]:
'z' in 'Juliano'

False

In [107]:
for i in d:
    print(d[i])

Juliano
13
[50, 250]
KeyErrorNada
Sou eu
valor

In [108]:
for i in d:
    print(i)

1
2
3
4
Juliano
(2, 3)

In [109]:
for i in d.items():
    print(i)

(1, 'Juliano')
(2, 13)
(3, [50, 250])
(4, 'KeyErrorNada')
('Juliano', 'Sou eu')
((2, 3), 'valor')

In [111]:
for i in d.items():
    print(f'key: {i[0]}, value: {i[1]}')

key: 1, value: Juliano
key: 2, value: 13
key: 3, value: [50, 250]
key: 4, value: KeyErrorNada
key: Juliano, value: Sou eu
key: (2, 3), value: valor

In [115]:
d.keys()

dict_keys([1, 2, 3, 4, 'Juliano', (2, 3)])

In [116]:
d.values()

dict_values(['Juliano', 13, [50, 250], 'KeyErrorNada', 'Sou eu', 'valor'])

In [117]:
list(d.keys())

[1, 2, 3, 4, 'Juliano', (2, 3)]

In [118]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [119]:
d[1]

'Juliano'

In [120]:
d.get(1)

'Juliano'

In [121]:
d.get('Juliano')

'Sou eu'

In [122]:
d['Juliano']

'Sou eu'

In [124]:
help(d.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [125]:
# UM DICT NÃO É UMA SEQUÊNCIA
d

{1: 'Juliano',
 2: 13,
 3: [50, 250],
 4: 'KeyErrorNada',
 'Juliano': 'Sou eu',
 (2, 3): 'valor'}

In [126]:
d.pop(4)

'KeyErrorNada'

In [127]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu', (2, 3): 'valor'}

In [129]:
d.popitem()

((2, 3), 'valor')

In [130]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu'}

In [133]:
dict.fromkeys([1,2,3,4,5,6,7,8,9,10], [1,2,3,4,5,6,7,8,9,10])

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 4: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 5: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 6: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 7: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 8: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 9: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [134]:
help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [135]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu'}

In [136]:
d.setdefault(4, 'valordefault')

'valordefault'

In [137]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu', 4: 'valordefault'}

In [138]:
d.setdefault('Juliano', 'valordefault')

'Sou eu'

In [139]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu', 4: 'valordefault'}

In [144]:
l = [1,2,3]
l.extend(['a','b','c'])

In [145]:
l

[1, 2, 3, 'a', 'b', 'c']

In [146]:
d2 = {2:'a', 3:'b'}

In [147]:
d2

{2: 'a', 3: 'b'}

In [148]:
d

{1: 'Juliano', 2: 13, 3: [50, 250], 'Juliano': 'Sou eu', 4: 'valordefault'}

In [149]:
d.update(d2)

In [150]:
d

{1: 'Juliano', 2: 'a', 3: 'b', 'Juliano': 'Sou eu', 4: 'valordefault'}

In [151]:
d2

{2: 'a', 3: 'b'}

In [152]:
d['CHAVEQUENAOTINHA'] = 'VALORQUETBMNAOTINHA'

In [153]:
d.update(d2)

In [155]:
d

{1: 'Juliano',
 2: 'a',
 3: 'b',
 'Juliano': 'Sou eu',
 4: 'valordefault',
 'CHAVEQUENAOTINHA': 'VALORQUETBMNAOTINHA'}

In [156]:
d2

{2: 'a', 3: 'b'}

In [157]:
dcopy = d2.copy()

In [158]:
dcopy

{2: 'a', 3: 'b'}

In [159]:
dcopy['1']=1

In [160]:
dcopy

{2: 'a', 3: 'b', '1': 1}

In [161]:
d2

{2: 'a', 3: 'b'}

In [162]:
d4 = d2

In [163]:
d4

{2: 'a', 3: 'b'}

In [164]:
d2

{2: 'a', 3: 'b'}

In [165]:
d4['mudeiD4']='MUDEI'

In [166]:
d4

{2: 'a', 3: 'b', 'mudeiD4': 'MUDEI'}

In [167]:
d2

{2: 'a', 3: 'b', 'mudeiD4': 'MUDEI'}

In [168]:
id(d2)

139754197899008

In [169]:
id(d4)

139754197899008

In [170]:
id(dcopy)

139754155200640